}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(1) {
    content: url("http://globalbola.net/putra/image/sgp.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(2) {
    content: url("http://globalbola.net/putra/image/hk.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(3) {
    content: url("http://globalbola.net/putra/image/Sdy.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(4) {
    content: url("http://globalbola.net/putra/image/Mcu.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(5) {
    content: url("http://globalbola.net/putra/image/Can.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(6) {
    content: url("http://globalbola.net/putra/image/SHI.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(7) {
    content: url("http://globalbola.net/putra/image/CAH.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(8) {
    content: url("http://globalbola.net/putra/image/icon-redwhite.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(9) {
    content: url("http://globalbola.net/putra/image/Sicbo-dice.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(10) {
    content: url("http://globalbola.net/putra/image/Oglok.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(11) {
    content: url("http://globalbola.net/putra/image/Dice-6.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(12) {
    content: url("http://globalbola.net/putra/image/Head-tail.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(13) {
    content: url("http://globalbola.net/putra/image/RED-&-WHITE.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(14) {
    content: url("http://globalbola.net/putra/image/24D-SPIN.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(15) {
    content: url("http://globalbola.net/putra/image/12D.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(16) {
    content: url("http://globalbola.net/putra/image/Billiard-pools.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(17) {
    content: url("http://globalbola.net/putra/image/24D-manual.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(18) {
    content: url("http://globalbola.net/putra/image/Poker-dice.png") !important;
