
.col-xs-left {
    margin: 0px !important;
    width: 1030px !important;
}

.slide-wrapper .owl-carousel .item img {
	
	width: 1030px !important;

}


.header {

	height: 100px !important;
}

.header-cover {
    background-position: 10px 20px !important;
	height: 80px !important;
}

.login-panel {
    margin: 25px 0 !important;
}


.msg-wrapper {
    
    margin-top: 11em !important;
}

div.content-body img {
    border: 1px groove #e0dfe0 !important;
}

.btn-slider-wrap {
	display: none;
}

.topmenu ul {
	
	background: #2a2a2a !important;
}

.nav li .current {
	background-color: #ffa800 !important;
	background-image: -webkit-linear-gradient(top, #ffa800 0%,#ecae14 100%) !important;
}


.btn-primary {
    
    background: #ffa800 !important;
	background-image: -webkit-linear-gradient(top, #ffa800 0%,#ecae15 100%) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background: #ffa800 !important;
	background-image: -webkit-linear-gradient(top, #ecae15 0%,#ffa800 100%) !important;
	
}

.rollto a {
	display: none;
}
.padding-v-5 {
	
}



.col-xs-7 {
	
	
}


.footer .statement-text span {
    display: none;
    
}

.g_left { display: none !important; }

.g_right { display: none !important; }

.navbar .nav > li > a { font-weight: 100 !important; }


#promotion { -webkit-animation: change-color1 0.2s ease 0s infinite normal ;
    animation: change-color1 0.2s ease 0s infinite normal ; }
@-webkit-keyframes change-color1 {
 0%{
	color:white;
 }
50%{
	color:yellow;
 }

 100%{
	color:#01cc01;
 }
}

@keyframes change-color1 {
 0%{
	color:white;
 }
 50%{
	color:yellow;
 }

 100%{
	color:#01cc01;
 }
} 



@media screen and (max-width: 840px) {
.header {
height: 50px !important;
}

.owl-wrapper {
height: 150px !important;
}

.ginthang iframe { display: none; }

.slide-wrapper {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    background: #1a1a1a !important;
}

.slide-wrapper .owl-carousel .item {
height: 183.4px !important;


}

.slide-wrapper .owl-carousel .item img {
width: 100% !important;
height: 183.4px !important;
}


}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio: 3) {

.slide-wrapper {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    background: #1a1a1a !important;
}

.slide-wrapper .owl-carousel .item {
height: 183.4px !important;


}

.slide-wrapper .owl-carousel .item img {
width: 100% !important;
height: 183.4px !important;
}




}
