}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(1) {
    content: url("http://4.bp.blogspot.com/-cdjpK4hvnCU/Wk0pFAFgiRI/AAAAAAAABrY/woZ1JR3V9zMv5JdhhfWKwS8HPJYDHUgwACK4BGAYYCw/s1600/Icon-Game-Berlin.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(2) {
    content: url("http://3.bp.blogspot.com/-BuIqhcSqyTw/Wk0pFVLOoyI/AAAAAAAABrg/A2NMhU4j-MkFquk_pMtCVS3oxXYou2bpwCK4BGAYYCw/s1600/Icon-Game-Singapore.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(3) {
    content: url("http://2.bp.blogspot.com/-K-oU_Aup64U/Wk0pFcZ97AI/AAAAAAAABro/knEvOCd8_uQ-H8Jvw0FRavpecGvrNcoigCK4BGAYYCw/s1600/Icon-Game-Sydney.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(4) {
    content: url("http://1.bp.blogspot.com/-VhcN-rf3plI/Wk0pE79WszI/AAAAAAAABqE/etSwf8PDwO8Noj3qXnWph7qkXkzCaXhvACK4BGAYYCw/s1600/Icon-Game-Toto-Macau.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(5) {
    content: url("http://globalbola.net/putra/image/Can.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(6) {
    content: url("http://globalbola.net/putra/image/SHI.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(7) {
    content: url("http://globalbola.net/putra/image/CAH.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(8) {
    content: url("http://globalbola.net/putra/image/icon-redwhite.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(9) {
    content: url("http://globalbola.net/putra/image/Sicbo-dice.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(10) {
    content: url("http://globalbola.net/putra/image/Oglok.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(11) {
    content: url("http://globalbola.net/putra/image/Dice-6.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(12) {
    content: url("http://globalbola.net/putra/image/Head-tail.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(13) {
    content: url("http://globalbola.net/putra/image/RED-&-WHITE.png") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(14) {
    content: url("http://globalbola.net/putra/image/24D-SPIN.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(15) {
    content: url("http://globalbola.net/putra/image/12D.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(16) {
    content: url("http://globalbola.net/putra/image/Billiard-pools.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(17) {
    content: url("http://globalbola.net/putra/image/24D-manual.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(18) {
    content: url("http://globalbola.net/putra/image/Poker-dice.png") !important;
