}
.col-md-9 .owl-wrapper-outer .owl-item {
    float: left;
    width: 155px !important;
}
.owl-carousel {
    margin-left: 1px !important;

}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(1) {
    content: url("https://1.bp.blogspot.com/-YliMuigvVDI/WwfcLc7tQsI/AAAAAAAAN2U/ansgOGBl8IEFbGdRO-s7YwOTj1wy6XuaACLcBGAs/s1600/CANADIA.gif") !important;
}


.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(2) {
    content: url("https://4.bp.blogspot.com/-OKIfl1LUGiY/WwfcVKoEunI/AAAAAAAAN2c/eEUiKRTwWAApSBd3YKTht8mh8m-T_XGewCLcBGAs/s1600/SYDNEY.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(3) {
    content: url("https://3.bp.blogspot.com/-BwnB9nurzm0/WwfcaAiBvQI/AAAAAAAAN2g/2xt1u5imRHkDar--Fgqbf5IyceyiFsmeACLcBGAs/s1600/HONGKONG.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(4) {
    content: url("https://3.bp.blogspot.com/-X0rjLVQ8PXo/Wwfcjz5Tm3I/AAAAAAAAN2o/aONAF0t5E-sYwhipnGHBqT7TmbIa-J4yACLcBGAs/s1600/KHMER.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(5) {
    content: url("https://2.bp.blogspot.com/-my5Do6EEw2A/Wwfcr6xEBFI/AAAAAAAAN20/RDOQdGwNgKs4n-tqyuX5NE3HANOwgfH_gCLcBGAs/s1600/ISREAL.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(6) {
    content: url("https://3.bp.blogspot.com/-TczWbjA-HyM/Wwfc0i7671I/AAAAAAAAN28/TIyDwOB63qIdX09DKZYTEDSddWcXiC6EwCLcBGAs/s1600/SIAM.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(7) {
    content: url("https://2.bp.blogspot.com/-nn_hHxuk_5U/Wwfc7eGJyOI/AAAAAAAAN3A/yy9RqzA7LpU1eoQCHPP-ltT955xiphiwQCLcBGAs/s1600/singapore.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(8) {
    content: url("https://1.bp.blogspot.com/-A6GtctwOHow/WwfdEq1T5gI/AAAAAAAAN3I/fkmwbikYJkcj2aBWTJ_AEkPe-JQfNLesgCLcBGAs/s1600/MACAU.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(9) {
    content: url("https://1.bp.blogspot.com/-HhGH2OAWP8c/WwfdMuWJv9I/AAAAAAAAN3U/LC3dPynSmasEcLc8hx0Ow45Q1U5QbFlSgCLcBGAs/s1600/SUWIT.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(10) {
    content: url("https://4.bp.blogspot.com/-gF8Nrydl3Ro/WwfdRK5lx6I/AAAAAAAAN3Y/0VYzbvhxDe8i2b2CdDUhBWC6Rr0_Zxo0ACLcBGAs/s1600/POKERDICE.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(11) {
    content: url("https://3.bp.blogspot.com/-GOn5c7wWIg0/WwfdYW-lqXI/AAAAAAAAN3c/aqj4ytyVbdASWdwvByjORVksH3bK5HC1wCLcBGAs/s1600/HEADTAIL.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(12) {
    content: url("https://1.bp.blogspot.com/-m8RhruV-BY4/WwfdhTMyZxI/AAAAAAAAN3k/IefeC7we2g8fROAlvM54KoSqvyVqRevWgCLcBGAs/s1600/24DSPIN.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(13) {
    content: url("https://4.bp.blogspot.com/-fzxI7ykSvJE/WwfdlhvvhvI/AAAAAAAAN3o/EDRt9Q8VQDIE8cKFgoXp9uQOXx5NvZ8jgCLcBGAs/s1600/OGLOK.gif") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(14) {
    content: url("https://4.bp.blogspot.com/-vXXO7VxuiPU/Wwfds--bjeI/AAAAAAAAN3w/JQqAmvHWThYxFQQfgzuOXkwwtlh4aCbWgCLcBGAs/s1600/12D.gif") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(15) {
    content: url("https://4.bp.blogspot.com/-cmyt3XjAFCw/WwfdxnVnPCI/AAAAAAAAN34/LEhfbxKAUlMWndqXJdHJlf8epKuD0yXwgCLcBGAs/s1600/24.gif") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(16) {
    content: url("https://3.bp.blogspot.com/-aoeUKn9mHss/Wwfd3UCldLI/AAAAAAAAN4A/f3zp7Ejs0YcERao3MOOpPdjSRvW1gystgCLcBGAs/s1600/ROULETTE.gif") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(17) {
    content: url("https://4.bp.blogspot.com/-WDmQJU39ARc/Wwfd-O_yomI/AAAAAAAAN4I/CsKsXX7sSREyFHh5cKdJsTkIoaAM8JtJgCLcBGAs/s1600/DICE6.gif") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(18) {
    content: url("https://1.bp.blogspot.com/-r9FotQBDdsg/WwfeCtf7nYI/AAAAAAAAN4M/-oT56XjYSXoFOCmNqortmXLqbreyyjyqQCLcBGAs/s1600/BILLIARDS.gif") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(19) {
    content: url("https://4.bp.blogspot.com/-82vft7Ojd30/Wwfgo4uiprI/AAAAAAAAN44/3h-YQmmfTg4x_SD3pkDF9DgUcdCE9ERZACLcBGAs/s1600/SICBO%255BDICE%255D.gif") !important;
}.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(20) {
    content: url("https://3.bp.blogspot.com/-Ic79MLAXaX8/Wwfed0YPH9I/AAAAAAAAN4g/hcXzW8JUGZYtnX6vu1ni62N1PqZNfpyFQCLcBGAs/s1600/GONGBALL.gif") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(18) {
    content: url("https://2.bp.blogspot.com/-ZNluPUXzqv8/Wwfeks7z2hI/AAAAAAAAN4o/SFJ-uk2Fkcws2lLTHo-p1s2YrpE16TCEQCLcBGAs/s1600/REDWHITE.gif") !important;
}
